/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
    font-family: NunitoBlack;
    src: url(../../resources/fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: NunitoBold;
    src: url(../../resources/fonts/Nunito-Bold.ttf);
}

html,
body{
    background-color: #F8EEE2;
}

*{
    font-family: NunitoBold;
}

h1,h2,h3,h4,h5,h6{
    font-family: NunitoBlack;
}

p,small,a{
    font-family: NunitoBold;
}